.rounded-kategori {
    border-radius: 1.25rem !important;
}

.card {
    width: 14rem;
}

.card-kategori {
    width: 8rem;
}

.card-title {
    color: #5E4F45;
}

.rounded-top-kategori {
    border-top-left-radius: 1.25rem !important;
    border-top-right-radius: 1.25rem !important;
}

.rounded-top-img {
    border-top-left-radius: .75rem !important;
    border-top-right-radius: .75rem !important;
}

.col-md-1 {
    flex: 0 0 auto;
    width: 1.333333%;
}

.col-md-5 {
    flex: 0 0 auto;
    width: 48%;
}

.cursor-klik {
    cursor: pointer;
}