.box-content {
    height: 75vh;
}

.rounded {
    border-radius: 0.75rem!important;
}

.btn-primary {
    background-color: #4775EA;
    border-color: #4775EA;
}

.row-middle {
    height: 60vh;
}

.btn-login {
    cursor: pointer;
}